/* ******* Table of contents ******** */
/* ******* goole font ****** */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Inter:wght@100;300;400;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Source+Serif+Pro:wght@300;400;600;700;900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
/* ******* variables ******* */
:root {
  --orange: hsl(36, 80%, 50%);
  --white: hsl(0, 0%, 100%);
  --WHITE: hsl(0, 0%, 100%);
  --BLACK: hsl(0, 0%, 0%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsl(0, 0%, 0%, 0.4);
  --yellow-light: hsl(44, 95%, 83%);
  --green-light: hsl(156, 68%, 75%);
  --red-light: hsl(0, 84%, 80%);
  --orange-light: hsl(36, 85%, 80%);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 90%);
}
/* ****** Start Component ******* */
.circular-img {
  max-width: 360px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.circular-img-inner {
  text-align: center;
  border-radius: 0 0 180x 180px;
  overflow: hidden;
}
.circular-img-circle {
  height: 360px;
  width: 360px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}
.circular-img img {
  position: relative;
  z-index: 1;
}
.btn-theme {
  background-color: var(--main-color);
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
}
.btn-theme:hover {
  color: var(--WHITE);
  background-color: var(--button-hover-color);
}
.btn-theme:focus {
  box-shadow: 0 0 8px var(--main-color);
}
.btn-form {
  height: 48px;
}
.box {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 30px;
}
.section-padding {
  padding: 30px 0;
}
.section-title {
  margin-bottom: 40px;
}
.section-title .title {
  color: var(--main-color);
  font-size: 20px;
}
.section-title .sub-title {
  font-size: 30px;
  font-weight: 600;
  color: var(--black-90);
}
/* ****** End Component ******* */
/* ****** Start animation ******* */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0vh);
  }
  5%,
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25%,
  50% {
    transform: rotate(180deg);
  }
  75%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderIn {
  0%,
  25%,
  100% {
    height: 0;
  }
  50%,
  75% {
    height: 100%;
  }
}
/* ****** End animation ******* */
/* ****** start style-switcher******* */
.style-switcher {
  width: 300px;
  position: fixed;
  height: 100%;
  background-color: var(--white);
  right: -300px;
  top: 0;
  z-index: 67;
  padding: 30px;
  box-shadow: var(--shadow);
  transition: right 0.3s ease;
}
.style-switcher.open {
  right: 0;
}
.style-switcher-toggler {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 28%;
  left: -40px;
  background-color: var(--main-color);
  color: var(--WHITE);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}
.style-switcher h3 {
  font-size: 20px;
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 10px;
}
.style-switcher-item {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}
.theme-colors button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  vertical-align: middle;
  padding: 0;
  position: relative;
}
.theme-colors button::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: var(--WHITE);
  opacity: 0;
  transition: all 0.3s ease;
}
.theme-colors button.active::before {
  opacity: 1;
}
.theme-colors .color-1 {
  background-color: hsl(0, 74%, 61%);
}
.theme-colors .color-2 {
  background-color: hsl(230, 74%, 61%);
}
.theme-colors .color-3 {
  background-color: hsl(36, 74%, 61%);
}
.theme-colors .color-4 {
  background-color: hsl(277, 74%, 61%);
}
.theme-colors .color-5 {
  background-color: hsl(164, 74%, 61%);
}
/* ****** End style-switcher ******* */
/* ****** start overrides variables for dark theme ******* */
body.t-dark {
  --body-bg-color: hsl(240, 10%, 19%);
  --black-70: hsl(0, 0%, 87%);
  --black-90: hsl(0, 0%, 100%);
  --shadow: 0 0 10px hsla(0, 0%, 0%, 0.08);
  --white: hsl(240, 8%, 21%);
  --select-box-bg-color: hsl(240, 8%, 21%);
  --border-color: hsl(240, 9%, 25%);
}
/* ****** End overrides variables for dark theme ******* */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--body-bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--black-70);
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
a:hover {
  color: var(--main-color);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-90);
  line-height: 1.3;
}
h3 {
  font-size: 20px;
}
::selection {
  color: var(--WHITE);
  background-color: var(--main-color);
}
/* strat page loader */
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10007;
  display: flex;
  background-color: var(--WHITE);
}
.page-loader.fade-out {
  opacity: 0;
  transition: all 0.6s ease;
}
.page-loader div {
  margin: auto;
  height: 32px;
  width: 35px;
  border: 4px solid var(--main-color);
  position: relative;
  animation: loader 2s linear infinite;
}
.page-loader div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  animation: loaderIn 2s linear infinite;
}
/* end page loader */
/* start header */
.header {
  border: 1px solid var(--border-color);
  padding: 0 15px;
}
.header-logo a {
  font-size: 26px;
  font-weight: 700;
  color: var(--black-70);
}
.header-logo span {
  color: var(--main-color);
}
.header .menu-item > a {
  font-weight: 400;
  color: var(--black-90);
  transition: color 0.3s ease;
}
.header .menu-item > a:hover,
.header .sub-menu-items a:hover,
.header .menu-item > a:focus {
  color: var(--main-color);
}
.header .menu-item > a svg {
  font-size: 12px;
  margin-left: 3px;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.header .sub-menu {
  position: absolute;
  background-color: var(--white);
  left: 0;
  top: 100%;
  width: 210px;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
}
@media (min-width: 992px) {
  .header .menu-item:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.header .sub-menu-items a {
  display: block;
  padding: 10px 20px;
  color: var(--black-90);
  font-weight: 400;
  transition: color 0.3s ease;
}
.header-hamburger-btn,
.header-close-btn,
.header-backdrop {
  display: none;
}
/* end header */
/* start banner section */
.banner-section {
  padding: 80px 0;
  min-height: 680px;
}
.banner-section h2 {
  font-size: 20px;
  color: var(--main-color);
}
.banner-section h1 {
  font-size: 45px;
  font-weight: 700;
}
.banner-section .circular-img-circle {
  background-color: var(--red-light);
}
/* end banner section */
/* start fun fact section */
.fun-facts-item {
  padding: 15px 0;
}
.fun-facts-item h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.fun-facts-item .style-1 {
  color: var(--black-70);
}
.fun-facts-item .style-2 {
  color: var(--green-light);
}
.fun-facts-item .style-3 {
  color: var(--red-light);
}
.fun-facts-item .style-4 {
  color: var(--orange-light);
}
.fun-facts-item p {
  margin: 0;
  text-transform: uppercase;
}
/* end fun fact section */
/* start courses */
.courses-item {
  margin-bottom: 30px;
  position: relative;
}
.courses-item .img-box {
  width: 100%;
  border-radius: 5px;
}
.courses-item .link {
  color: var(--black-70);
  display: inline-block;
}
.courses-item .title {
  margin: 15px 0;
  transition: color 0.3s ease;
}
.courses-item:hover .title {
  color: var(--main-color);
}
.courses-item .instractor {
  margin: 0 0 12px;
}
.courses-item .instractor img {
  width: 30px;
  margin-right: 5px;
}
.courses-item .rating {
  font-size: 14px;
}
.courses-item .average-rating {
  font-weight: 600;
  color: var(--orange);
}
.courses-item .average-stars svg {
  color: var(--orange);
}
.courses-item .price {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: var(--main-color);
  color: var(--WHITE);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}
/* end courses */
/* start testimonials */
.testimonials-section .img-box {
  height: 150px;
  width: 150px;
  background-color: var(--red-light);
  margin: 30px auto 50px;
}
.testimonials-section .img-box::before,
.testimonials-section .img-box::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--red-light);
  animation: spin 15s linear infinite;
}
.testimonials-section .img-box::before {
  height: 180px;
  width: 180px;
  left: -15px;
  top: -15px;
  border-left: 1px solid transparent;
}
.testimonials-section .img-box::after {
  height: 210px;
  width: 210px;
  left: -30px;
  top: -30px;
  border-right: 1px solid transparent;
}
.testimonials-item .text-2 {
  margin: 0;
}
.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
}
.testimonials-section .decoration-circles-item {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}
.testimonials-section .decoration-circles-item:nth-child(1) {
  left: 10%;
  top: 20%;
  height: 30px;
  width: 30px;
  background-color: var(--yellow-light);
}
.testimonials-section .decoration-circles-item:nth-child(2) {
  left: 40%;
  top: 40%;
  height: 50px;
  width: 50px;
  background-color: var(--green-light);
}
.testimonials-section .decoration-circles-item:nth-child(3) {
  left: 70%;
  top: 70%;
  height: 30px;
  width: 30px;
  background-color: var(--red-light);
}
.testimonials-section .decoration-circles-item:nth-child(4) {
  left: 20%;
  top: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--red-light);
}
.testimonials-section .decoration-imgs-item {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}
.testimonials-section .decoration-imgs-item:nth-child(1) {
  height: 60px;
  width: 60px;
  left: 20%;
  top: 30%;
  background-color: var(--yellow-light);
}
.testimonials-section .decoration-imgs-item:nth-child(2) {
  height: 80px;
  width: 80px;
  left: 90%;
  top: 40%;
  background-color: var(--red-light);
}
.testimonials-section .decoration-imgs-item:nth-child(3) {
  height: 40px;
  width: 40px;
  left: 10%;
  top: 60%;
  background-color: var(--green-light);
}
/* end testimonials */
/* start become a instructor */
.bai-section .circular-img-circle {
  background-color: var(--yellow-light);
}
/* end become a instructor */
/* start footer */
.footer-top {
  padding: 50px 0 20px;
  border-top: 1px solid var(--border-color);
}
.footer-item {
  margin: 0 0 30px;
}
.footer-item h3 {
  margin: 0 0 20px;
}
.footer-item .footer-logo {
  color: var(--black-70);
  text-transform: uppercase;
}
.footer-item .footer-logo span {
  color: var(--main-color);
}
.footer-item ul li:not(:last-child) {
  margin-bottom: 8px;
}
.footer-item ul a {
  color: var(--black-70);
  transition: color 0.3s ease;
  position: relative;
  font-size: 15px;
}
.footer-item ul a:hover {
  color: var(--main-color);
}
.footer-item ul a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  margin-bottom: -3px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}
.footer-item ul a:hover::before {
  width: 100%;
}
.footer-item ul .social-icon {
  margin-right: 10px;
}
.footer-bottom {
  border-top: 1px solid var(--border-color);
}
.footer-bottom p {
  font-size: 14px;
}
/* end footer */
/* -------------Courses Page ------------------- */
/* start breadcrumb */
.breadcrumb-nav {
  padding: 10px 0;
}
.breadcrumb-nav .breadcrumb-item {
  font-size: 14px;
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active {
  color: var(--black-70);
}
.nav-tabs .nav-link {
  background-color: var(--white);
  text-transform: capitalize;
  border-color: var(--border-color);
  padding: 5px 12px;
  margin: 0 5px 10px;
  border-radius: 5px;
  color: var(--black-70);
  font-size: 16px;
}
.nav-tabs .nav-link:hover {
  border-color: var(--border-color);
}
.nav-tabs .nav-link.active {
  background-color: var(--main-color);
  border-color: transparent;
  color: var(--WHITE);
}
/*-------pagination---------*/
.page-item.disabled .page-link,
.page-link {
  border: none;
  background-color: transparent;
  color: var(--black-70);
}
.page-item.active .page-link {
  background-color: var(--main-color);
}
.page-link:hover {
  background-color: var(--main-color);
  color: var(--WHITE);
}
/* end breadcrumb */
/* start course details */
.course-header h2 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 600;
}
.course-header .average-rating {
  font-weight: 600;
  color: var(--orange);
}
.course-header .average-stars svg {
  font-size: 14px;
  color: var(--orange);
}
.course-header .rating span {
  vertical-align: middle;
}
.course-header ul li {
  margin: 6px 0 0;
}
.course-header ul li span {
  margin-left: 5px;
}
/* start course tabs */
.course-tabs {
  margin: 30px 0 20px;
}
.course-tabs .nav-link {
  margin: 0 10px 10px 0;
}
/* end course tabs */
/* start accordion */
.course-curriculum .accordion-item {
  border-color: var(--border-color);
  background-color: transparent;
  color: var(--black-90);
}
.course-curriculum .accordion-button {
  background-color: transparent;
  color: var(--black-90);
  font-weight: 300;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 160px;
  line-height: 1.5;
}
.course-curriculum .accordion-button span {
  position: absolute;
  right: 17px;
  font-size: 14px;
}
.course-curriculum .accordion-button::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  background-image: none;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: auto;
  line-height: 1;
}
.course-curriculum .accordion-button:focus {
  box-shadow: none;
}
.course-curriculum .accordion-button:not(.collapsed) span {
  font-weight: 500;
}
.course-curriculum .accordion-button:not(.collapsed)::after {
  transform: translateY(-50%) rotate(-180deg);
}
.course-curriculum .accordion-button:not(.collapsed) {
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  transition: none;
  box-shadow: none;
}
.course-curriculum ul li {
  position: relative;
  padding: 0 50px 0 20px;
}
.course-curriculum ul li:not(:last-child) {
  margin-bottom: 10px;
}
.course-curriculum ul li span {
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 0;
}
.course-curriculum ul li svg {
  position: absolute;
  left: 0;
  top: 6px;
  color: var(--black-70);
  font-size: 12px;
}
/* end accordion */
/* start course-descriptio */
.course-description h4 {
  font-size: 17px;
  font-weight: 600;
}
.course-description p {
  font-size: 17px;
}
/* end course-descriptio */
/* start course-instructor  */
.course-instructor .img-box img {
  max-width: 120px;
  margin-bottom: 15px;
}
/* start course-instructor  */
.course-instructor h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
}
.course-instructor h4 span {
  font-weight: 300;
}
.course-instructor ul li svg {
  color: var(--main-color);
  margin-right: 5px;
}
.course-instructor ul li:not(:last-child) {
  margin-bottom: 5px;
}
.rating-summary .average-rating {
  font-size: 40px;
  font-weight: 700;
  color: var(--black-90);
}
.rating-summary .average-stars {
  color: var(--orange);
}
.rating-summary .rating-bars-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.rating-summary .progress {
  height: 8px;
  background-color: var(--border-color);
  width: calc(100% - 120px);
  margin-right: 20px;
  border-radius: 0;
}
.rating-summary .progress-bar {
  background-color: var(--main-color);
}
.rating-summary .star-text {
  min-width: 60px;
  color: var(--orange);
}
.reviews-filter {
  margin: 0 0 35px;
  width: 200px;
}
.form-group {
  margin-bottom: 25px;
  position: relative;
}
.form-control {
  height: 48px;
  border-color: var(--border-color);
  color: var(--black-90);
  background-color: transparent;
}
.form-control:focus {
  background-color: transparent;
  color: var(--black-90);
  border-color: var(--border-color);
  box-shadow: none;
}
.select-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 13px;
}
select.form-control:focus option {
  background-color: var(--select-box-bg-color);
}
.reviews-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 65px;
}
.reviews-item .img-box {
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.reviews-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px;
  color: var(--black-90);
}
.reviews-item .stars-rating svg {
  color: var(--orange);
  font-size: 14px;
}
.reviews-item .stars-rating .date {
  margin-left: 5px;
  font-size: 14px;
  display: inline-block;
}
.reviews-item p {
  margin: 5px 0 0;
}
/* end course-instructor  */
/* start course slider */
.course-slider .img-box {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.course-slider .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-alpha-40);
}
.course-slider .play-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--WHITE);
}
.course-slider .img-box p {
  position: absolute;
  color: var(--WHITE);
  top: calc(50% + 40px);
  font-weight: 500;
  width: 100%;
}
.course-slider .price span {
  margin-right: 8px;
}
.course-slider .new-price {
  font-size: 30px;
  font-weight: 700;
  color: var(--black-90);
}
.course-slider .discount-price {
  color: var(--main-color);
}
.course-slider .features-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
}
.course-slider .features-list li::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: 0;
  top: 9px;
}
/* end course slider */
/* video modal */
.video-modal .btn-close {
  height: 35px;
  width: 35px;
  background-image: none;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  position: absolute;
  right: 0;
  top: -35px;
  color: var(--WHITE);
  font-size: 16px;
  padding: 0;
}
/* end course details */
/* start log in page */
.form-title {
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: 600;
}
.form-control::placeholder {
  color: var(--black-70);
}
/* end log in page */
/* start contact page */
.contact-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 40px;
}
.contact-item .icon-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  color: var(--WHITE);
}
textarea.form-control {
  height: 120px;
  resize: none;
}
/* end contact page */
/* start bubble-animation */
.bubble-animation-item {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  z-index: -1;
}
.bubble-animation-item:nth-child(1) {
  border-color: var(--yellow-light);
  top: 120%;
  left: 10%;
  animation: bubble 30s linear infinite;
}
.bubble-animation-item:nth-child(2) {
  border-color: var(--green-light);
  top: 60%;
  left: 50%;
  animation: bubble 40s linear infinite;
}
.bubble-animation-item:nth-child(3) {
  border-color: var(--red-light);
  top: 90%;
  left: 90%;
  animation: bubble 50s linear infinite;
}
.bubble-animation-item:nth-child(4) {
  border-color: var(--yellow-light);
  top: 80%;
  left: 60%;
  animation: bubble 60s linear infinite;
}
.bubble-animation-item:nth-child(5) {
  border-color: var(--green-light);
  top: 80%;
  left: 10%;
  animation: bubble 70s linear infinite;
}
.bubble-animation-item:nth-child(6) {
  border-color: var(--red-light);
  top: 20%;
  left: 30%;
  animation: bubble 80s linear infinite;
}
.bubble-animation-item:nth-child(7) {
  border-color: var(--yellow-light);
  top: 100%;
  left: 5%;
  animation: bubble 60s linear infinite;
}
.bubble-animation-item:nth-child(8) {
  border-color: var(--red-light);
  top: 110%;
  left: 33%;
  animation: bubble 70s linear infinite;
}
.bubble-animation-item:nth-child(9) {
  border-color: var(--red-light);
  top: 120%;
  left: 65%;
  animation: bubble 80s linear infinite;
}
/* end bubble-animation */
